.product {
  margin-top: 100px;
}

.productWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.productImage {
  background-color: white;
}
.productImg {
  width: 80%; 
  object-fit: contain;
}

.productTitle {
  margin-top: 20px;
}
.productText {
  margin: 20px 0 20px 0;
  color: gray;
}
.productPrice {
  margin: 20px 0 20px 0;
}
.productDescription{
  width: 80%;
  object-fit: contain;
}

@media only screen and (max-width: 742px) {
  .productWrapper {
    flex-direction: column;
  }
}